{% extends 'learning_logs/base.html' %}

{% block header %}
<div class="container">
<div class="page-header">
<h2 class="text-center">{{ article }}</h2>
<p class="text-center">
	{% if article.user_owner == request.user %}
	<a href="{% url 'learning_logs:edit_art_content' article.id  %}">修改</a>
    <a href="{% url 'learning_logs:new_chapter' article.id%}">更新</a>
	{% endif %}

</p>
</div>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="panel panel-default">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if current_page_content.has_previous %}
                <li class="page-item"><a class="page-link" href="?current_page_content.previous_page_number" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                <li class="disabled"><a class="page-link" href="" aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for page in page_range %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}

                {% if current_page_content.has_next%}
                <li><a class="page-link" href="?page={{current_page_content.next_page_number}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                <li class="disabled"><a class="page-link"  href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <div>
        章列表：
        </div>
        {% for i in current_page_content %}
        <div class="over_window" >
            <a href="{% url 'learning_logs:look_chapter' article.id i.id %}">{{i.chapter_name}}</a>
            <p>
            <small> 更新：{{i.chapter_add_date|date:'y m d H:i'}}</small>
            {% if article.user_owner == request.user %}
                <small><a href="{% url 'learning_logs:edit_chapter' article.id i.id%}">修改</a></small>
            {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<style>
.over_window{
    white-space :nowrap;
    width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
}

</style>
{% endblock content %}
