{% extends "learning_logs/base.html" %}
<!-- extends表明此页面继承自 base.html 文件 -->
{% block header %}
<!-- <div class="container">
<h5>作品列表</h5>
</div> -->
{% endblock header %}

{% block content %}	

    <div class="recom_article">推荐：</div>
    <div >
    {%  for pre_four_article in pre_four_articles %}

    <div class="two_row">
        <div class="name_author_intr line_num">名称：<a href="{% url 'learning_logs:article' pre_four_article.id %}">{{ pre_four_article.art_name }}</a></div>
        <div class="name_author_intr line_num">作者：{{ pre_four_article.art_author }}</div>
        <div class="name_author_intr intr">简介：{{ pre_four_article.art_introduction }}</div>
    </div>

    {% endfor %}
    </div>
    <div class="recom_article">文章：</div>
    <div>
    {% if surplus_articles %}
    {%  for surplus_article in surplus_articles %}
        <div class="row_list">
            <div class="row_list_half">名称：<a href="{% url 'learning_logs:article' surplus_article.id %}">{{ surplus_article.art_name }}</a></div>
            <div class="row_list_half">作者：{{ surplus_article.art_author }}</div>

{#            <div style='clear: both'></div>#}

        </div>
    {% endfor %}
    {% else %}
        <div class="row_list">
        没有内容
        </div>
    {% endif %}
    </div>
    <div class="create_publish">
        <a href="{% url 'learning_logs:new_article' %}">创作发布</a>
    </div>


<div class="py-3 fixed-bottom bg2-white">
    <div class="container">
        <p class="m-0 text-center text-dark">联系方式：359975715@qq.com
        </p>
    </div>
</div>
<style type="text/css">
body{
    background-color:#f9f9f9;
}
.bg2-white{background-color: rgba(255,255,255,0.1);}
.name_author_intr{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.line_num{
    -webkit-line-clamp: 1;
    width: 80%;
    padding: 1vmax 0 0 1vmax;
}
.intr{
    padding: 1vmax 0 0 1vmax;
}
.two_row{
    width: 48%;
    {#height: 23vmax;#}
    margin: 1vw 0 0 1%;
    display: inline-block;
    vertical-align:top;
    background-color: white;
    border-radius: 1vmax;
}
.row_list{
    width: 98%;
    margin: 1vw 0 0 2%;
    border-radius: 1vmax;
    overflow: hidden;
}
.row_list_half{
    width:50%;
    float: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.create_publish{
    text-align: center;
    margin-top: 2vmax;
    font-size:x-large;
}
.recom_article{
    margin: 1vw 0 0 1%;
}
</style>

{% endblock content %}
