{% extends 'learning_logs/base.html' %}

{% block header %}

{% endblock header %}
{% block content %}

<div class="container">
    <p>
    <h3 class="text-center">{{ artcontent.chapter_name }}</h3>
    {% if article.user_owner == request.user%}
        <a href="{% url 'learning_logs:edit_chapter' article.id artcontent.id %}">修改</a>
    {% endif %}
    </p>

    <span>
    {% autoescape off %}
    {{artcontent.chapter_content}}
    {% endautoescape %}
    </span>

{% if next %}
    {% if previous %}
    <a href="{% url 'learning_logs:look_chapter' article.id previous.id %}">上一章</a>
    {% else %}

    {% endif %}
    <a href="{% url 'learning_logs:look_chapter' article.id next.id %}">下一章</a>

{% else %}
    <a href="{% url 'learning_logs:look_chapter' article.id previous.id %}">上一章</a>
    <a href="{% url 'learning_logs:article' article.id %}">返回列表</a>
{% endif %}



</div>
<style type="text/css">
span{font-size:19px}
	
</style>

	
{% endblock content %}
