{% extends 'learning_logs/base.html' %}

{% block header %}

{% endblock header %}
{% block content %}

<div class="container">
    <p>
    <h5 class="text-center">{{ artcontent.chapter_name }}</h5>




    </p>
    <span>
    {% autoescape off %}
    {{artcontent.chapter_content}}
    {% endautoescape %}
    </span>
    <a href="{% url 'learning_logs:look_chapter' article.id 5 %}">上一章</a>


</div>
<style type="text/css">
span{font-size:19px}
	
</style>

	
{% endblock content %}
