{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 fixed-bottom bg2-white">
{#    <div class="container">#}
{#        <p class="m-0 text-center text-dark">联系方式：359975715@qq.com#}
{#        <script type="text/javascript">#}
{#        if#}
{#            (localStorage.pagecount)#}
{#            {localStorage.pagecount=Number(localStorage.pagecount) +1;}#}
{#        else#}
{#            {localStorage.pagecount=1;}#}
{#            document.write("访问数: " + localStorage.pagecount );#}
{#        </script>#}
{#        </p>#}
{#    </div>#}
{#    <style type="text/css">#}
{#        .bg2-white{background-color: rgba(255,255,255,0.1);}        #}
{#    </style>#}
</footer>
